body {
    background-image: url(/img/elden_ring_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#title {
    text-align: center;
}

#countdown {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    width: 100%;
}

.timer-box {
    width: 50%;
    margin: auto;
    margin-top: 350px;
    background: white; 
}

.timer-explanation {
    text-align: center;
    font-size: 35px;
}