body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}


.timer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding-left: 20px;
    padding-right: 20px;
    opacity: calc(0.85);
}

.timer-box h2 {
    text-align: center;
    color:white;
}

.timer-box p {
    color: white;
}

@media